*.iml
.gradle
/local.properties
local.properties
/.idea/
.DS_Store
/build
build/
app/build/
desktop/build/
desktop/node_modules/
desktop/dist/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
.kotlin/
*_dump.*
*.xml.dump
anr_dump.txt
np_dump.xml
nowplaying_dump.xml
app/release/
